.card {
  width: 100vw;
  height: 100vh;
  background: map-get($colors, white);
  box-shadow: 0 4px 16px map-get($colors, shadowRgba);
  display: flex;
  flex-direction: column;
  justify-content: initial;

  @media all and (min-width: map-get($breakpoints, md)) {
      &__default {
        max-width: 503px;
        max-height: 468px;
      }
  }

  &__default { padding: 38px; }

  &__simple {
    padding: 0;
    box-shadow: none;
    width: 100%;
    height: auto;
  }

  &__content {
    padding: 22px 22px 0 22px;
  }
}
