form.form.profile__edit__form#js-profile__edit__form
  div.form__group
    input(placeholder="FIRST NAME" type="text" class="form__input" value="John")           
  div.form__group
    input(placeholder="LAST NAME" type="text" class="form__input" value="Doe")           
  div.form__group
    input(placeholder="WEBSITE" type="text" class="form__input" value="www.seller.com")           
  div.form__group
    input(placeholder="PHONE NUMBER" type="text" class="form__input" value="(949) 325 - 68594")           
  div.form__group
    input(placeholder="CITY, STATE & ZIP" type="text" class="form__input" value="Newport Beach, CA ") 
