mixin modal(value)
  div.modal
    div.modal__arrow
    form.form
      input(placeholder=value type="text" class="form__input" value=value)
      div.form__actions 
        button.button.button--primary.button--outlined(type="submit") Save  
        button.button.button--secondary.button--outlined.jsCloseModal(type="submit") Cancel  
    
