include ./editModal.pug

section.profile__edit
  div.card.card__default
    div.profile__edit__header
      h1.profile__edit__title Profile
      button.button--simple.button--small.show-on-mobile.profile__edit--btn.js-profile__edit--btn
        i.ion-edit
      div.profile__edit--actions#js-edit-actions    
        button.button--primary.button--outlined.show-on-mobile.js-edit-cancel
          | cancel
        button.button--primary.button--outlined.show-on-mobile
          | save    
    
    div.profile__edit__list#js-profile__edit__list
      ul
        li
          a(href="") 
            | John Doe
            span.profile__edit__listAction.jsListActions
              i.ion-edit
            +modal('John Doe')      
        li        
          a(href="")
            i.ion-ios-world-outline.profile__edit__listIcon   
            | www.seller.com
            span.profile__edit__listAction.jsListActions
              i.ion-edit
            +modal('www.seller.com')     
        li        
          a(href="") 
            i.ion-ios-telephone-outline.profile__edit__listIcon
            | (949) 325 - 68594
            span.profile__edit__listAction.jsListActions
              i.ion-edit
            +modal('(949) 325 - 68594')     
        li        
          a(href="") 
            i.ion-ios-home-outline.profile__edit__listIcon
            | Newport Beach, CA 
            span.profile__edit__listAction.jsListActions
              i.ion-edit                          
            +modal('Newport Beach, CA ')      
            
    include ./editForm.pug            
