div.card.card__default
  h1.login__title Login
  form.form(action="profile.html")
    div.form__group
      input(placeholder="EMAIL" type="email" class="form__input")
  
    div.form__group
      input(placeholder="PASSWORD" type="password" class="form__input")
            
    div.form__group
      p.form__terms
        | By signing up or clicking continue, I confirm that I have
        | read and agree to the 
        a.form__terms--asLink Terms 
        | and 
        a.form__terms--asLink Privacy Policy

    button.button.button--primary LOGIN
  
