nav.navbar
  div.navbar__group
    a.navbar__link.active(href="#") About
    a.navbar__link(href="#") Settings
    a.navbar__link(href="#") Option 1
    a.navbar__link(href="#") Option 2
    a.navbar__link(href="#") Option 3
  div.navbar__group
    a.navbar__link.navbar__follwers(href="#") 
      i.ion-plus-circled  
      span.navbar__follwers--number 15
      | followers 
