div.card.card__simple.profile__header
  div.card__content
    button.button.button--primary.button--outlined.pull-right LOG OUT

    button.button.button--secondary.button--outlined.button--larger.profile__upload-btn.show-on-desktop
      i.ion-camera
      | UPLOAD COVER IMAGE
    
    div.profile__userInfo
      div.profile__userInfo__group
        img(src="assets/images/profile_image.jpg" width="171px" height="171px") 
        div.profile__userInfo__details
          h1.profile__userInfo__name Jessica Parker
          h3.profile__userInfo__item 
            i.ion-ios-location-outline  
            | Newport Beach, CA
          h3.profile__userInfo__item 
            i.ion-ios-telephone-outline
            | (949) 325 - 68594
          
      div.profile__userInfo__rating 
        each val in [1, 2, 3, 4]
          i.ion-ios-star
        i.ion-ios-star-outline
        | 6 Reviews
          
  include ./navbar            
