.button {
  width: 100%;
  padding: 18px 0;
  color: map-get($colors, white);
  font-size: 14px;
  border: none;
  transition: all 0.3s cubic-bezier(.64,.09,.08,1);

  &:hover { cursor: pointer; }

  &--outlined {
    border: 1px solid;
    background: transparent;
    padding: 0 21px;
    font-size: 12px;
    height: 31px;
    width: auto;
    display: flex;
    justify-content: center;

    @media all and (max-width: map-get($breakpoints, md)) {
      border: none;
    }
  }

  &--larger {
    padding: 13px 19px;
    height: auto;
    font-size: 15px;
    display: flex;
    align-items: center;

    i {
      font-size: 28px;
      margin-right: 19px;
    }
  }

  &--primary {
    background: map-get($colors, blue);

    &.button--outlined {
      border-color: map-get($colors, blue);
      color: map-get($colors, blue);
      background: transparent;

      &:hover {
        background: map-get($colors, blue);
        color: map-get($colors, white);

        @media all and (max-width: map-get($breakpoints, md)) {
          background: transparent;
          color: map-get($colors, blue);
        }
      }
    }
  }

  &--secondary {
    background: map-get($colors, gray);

    &.button--outlined {
      border-color: map-get($colors, gray);
      color: map-get($colors, darkGray);
      background: transparent;

      &:hover {
        background: map-get($colors, gray);
        color: map-get($colors, white);
      }
    }
  }

  &--simple {
    background: map-get($colors, babyBlue);
    color: map-get($colors, darkGray);
    border: none;

    &.button--outlined {
      border-color: map-get($colors, babyBlue);
      color: map-get($colors, babyBlue);
      background: transparent;

      &:hover {
        background: map-get($colors, babyBlue);
        color: map-get($colors, white);

        @media all and (max-width: map-get($breakpoints, md)) {
          background: transparent;
          color: map-get($colors, babyBlue);
        }
      }
    }
  }

  &--small {
    width: auto;
    padding: 10px;
  }
}
