.form {
  width: 100%;

  &__terms {
    color: map-get($colors, lightGray);
    font-size: 14px;
    text-align: left;

    &--asLink { color: map-get($colors, blue); }

    @media all and (min-width: map-get($breakpoints, md)) {
      text-align: center;
    }
  }

  &__group {
    margin-bottom: 32px;
    &:first-child { margin-top: 32px; }
  }

  &__input {
    width: 100%;
    border: none;
    padding: 25px 0 10px 0;
    border-bottom: solid 1px map-get($colors, gray);
    transition: all 0.3s cubic-bezier(.64,.09,.08,1);
    font-size: 16px;
    color: map-get($colors, darkGray);

    &::-webkit-input-placeholder {
      transition: all 0.3s ease-in-out;
      color: map-get($colors, darkGray);
    }

    &:focus {
      box-shadow: none;
      outline: none;
      background-position: 0 0;
      &::-webkit-input-placeholder {
        font-size: 12px;
        transform: translateY(-25px);
        color: map-get($colors, mediumGray);
      }
    }
  }

  &__actions {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
  }
}
