.login {
  &__title {
    font-size: 24px;
    color: map-get($colors, darkGray);
    width: 100%;
    padding-bottom: 32px;
    text-align: center;

    @media all and (min-width: map-get($breakpoints, md)) {
      border-bottom: 1px solid #d0dce7;
    }
  }

  .button {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  @media all and (min-width: map-get($breakpoints, md)) {
    .button { position: relative; }
  }
}
