.modal {
  position: absolute;
  z-index: 9;
  top: 3px;
  left: 100%;
  background: map-get($colors, white);
  box-shadow: 0 4px 16px map-get($colors, shadowRgba);
  padding: 22px;
  min-width: 220px;
  display: none;

  &.active { display: block; }

  &__arrow {
      &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid map-get($colors, white);
        position: absolute;
        left: -15px;
        top: 0;
    }
  }
}
