.navbar {
  height: 58px;
  box-shadow: 0 1px 6px rgba(114, 126, 136, 0.28);
  font-size: 15px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  max-width: 100%;
  background: map-get($colors, white);

  @media all and (min-width: map-get($breakpoints, md)) {
      padding-left: 200px;
      justify-content: space-between;
  }

  &__group { display: flex; }

  &__link {
    align-items: center;
    display: flex;
    padding: 0 1rem;
    min-width: 110px;
    text-decoration: none;
    color: map-get($colors, darkGray);

    &.active {
      border-bottom: 2px solid map-get($colors, blue);
    }

    &:hover { border-bottom: 1px solid map-get($colors, blue); }
  }

  &__follwers {
    color: map-get($colors, gray);
    font-size: 14px;
    text-transform: lowercase;

    &--number {
      color: map-get($colors, darkGray);
      margin-right: 8px;
    }

    &:hover { border-bottom: 0px; }

    i {
      font-size: 28px;
      color: map-get($colors, mediumgray);
      margin-right: 16px;
    }
  }
}
