.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.pull-right { float: right; }


.show-on-desktop {
  display: block;

  @media all and (max-width: map-get($breakpoints, md)) {
    display: none;
  }
}


.show-on-mobile {
  display: none;

  @media all and (max-width: map-get($breakpoints, md)) {
    display: block;
  }
}


.hide { display: none !important; }
