html
  head
    title Cyza Front End Challenge
    link(rel="stylesheet" href="assets/styles/main.min.css")
    meta(name="viewport" content="width=device-width, user-scalable=no")
  body
    block content

    script(src="assets/scripts/main.js" async)
