.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  @media all and (min-width: map-get($breakpoints, md)) {
    background-image: url('../images/fullscreen_bg_image.jpg');
    background-size: cover;
  }
}
