.profile {
  padding-top: 71px;


  @media all and (max-width: map-get($breakpoints, md)) {
    padding-top: 0;

    .profile__header { background: transparent; }
  }


  &__upload-btn { margin: 54px auto auto auto; }

  &__userInfo {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 30px 0;


    @media all and (min-width: map-get($breakpoints, md)) {
      flex-direction: row;
      width: auto;
      align-items: center;
      padding-bottom: 0;
      top: 26px;
    }

    &__details {
      margin-left: 26px;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }

    &__group {
      display: flex;
      flex-direction: column;

      @media all and (min-width: map-get($breakpoints, md)) {
        flex-direction: row;
      }
    }

    &__name { font-size: 20px; }
    &__item { font-size: 14px; }

    &__name,
    &__item {
      margin-bottom: 18px;
      display: flex;
      align-items: center;

      i {
        font-size: 20px;
        margin-right: 9px;
      }
    }

    &__rating {
      font-size: 13px;
      color: map-get($colors, darkGray);

      i {
        font-size: 24px;
        color: map-get($colors, largerGray);
        margin: 0 3px;
        position: relative;
        top: 3px;

        &:last-child { margin-right: 30px; }
      }
    }
  }

  &__edit {
    margin-top: 30px;

    .card { max-width: 100%; }

    &__header {
      display: flex;
      justify-content: space-between;
    }

    &__title {
      font-size: 24px;
      color: map-get($colors, largerGray);
    }

    &__list {
      display: flex;
      flex-direction: column;
      margin-top: 35px;

      a {
        font-size: 16px;
        color: map-get($colors, darkGray);
        height: 37px;
        background-color: map-get($colors, babyBlue);
        display: inline-block;
        padding: 0 0 0 10px;
        text-decoration: none;
        position: relative;

        @media all and (max-width: map-get($breakpoints, md)) {
          background-color: transparent;
        }
      }

      ul li {  list-style-type: none; }
    }

    &__listAction {
      height: 37px;
      display: inline-block;
      padding: 10px;
      margin-left: 10px;
      background-color: map-get($colors, mediumBlue);
      transition: all 0.3s cubic-bezier(.64,.09,.08,1);

      @media all and (max-width: map-get($breakpoints, md)) {
        display: none;
      }

      &:hover {
        background-color: map-get($colors, blue);
        color: map-get($colors, white);
      }
    }

    &__listIcon {
      font-size: 22px;
      margin-right: 9px;
    }

    &--btn { max-width: 30px; }

    &--actions,
    &__form {
      display: none;

      &.showing { display: flex; }
    }

    &__form {
      &.showing { flex-direction: column; }
    }
  }
}
