$colors: (
  white: #FFF,
  shadowRgba: rgba(58, 75, 93, 0.27),
  darkGray: #333333,
  gray: #d0dce7,
  mediumGray: #a6b0b7,
  lightGray: #a8b8c4,
  largerGray: #727e88,
  blue: #007ee5,
  babyBlue: #f5f8f9,
  mediumBlue: #ecf1f5
);

$breakpoints: (
  xs: 380px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
